<header>
  <h1>Štamparija</h1>
</header>

<h2>Dobrodošli, {{ user.ime }} {{ user.prezime }}</h2>
<p>Prijavljeni ste kao štampar ({{ user.institucija?.naziv }}).</p>

<nav>
  <button (click)="setView('profile')">Profil</button> <br />
  <button (click)="setView('products')">Proizvodi i usluge</button> <br />
  <button (click)="setView('stock')">Ažuriranje zaliha</button> <br />
  <button (click)="setView('orders')">Naručeni proizvodi</button> <br />
</nav>

<br />
<button (click)="logout()">Izloguj se</button>

<hr />

@switch (view) {
  @case ('profile') {
    <app-profile />
  }
  @case ('products') {
    <app-printer-products />
  }
  @case ('stock') {
    <app-printer-stock />
  }
  @case ('orders') {
    <app-ordered-products />
  }
}

<footer>
  <p>2026 </p>
</footer>
